<h1>Listing posts</h1>

<form id="post_search_form" >
  
  <%= form_for @post_search, url: posts_path(format: :json), remote: true, html: {method: :get} do |f| %>
    <%= f.search_field :title %>
    <%= f.search_field :body %>
    <br />
    <%= f.submit '検索' %>
    <br />
  <% end %>
</form>

<form id="post_form">
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Body</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for :tr, @posts do |post| %>
        <td><%= post.title %></td>
        <td><%= post.body %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
  <br />
  <%= link_to 'New Post', new_post_path, class:"button" %>  
  <br />
</form>


